CHAIN=
OPERATOR_ADDR=
REST_ADDR=http://localhost:1317
RPC_ADDR=http://localhost:1317
LISTENING_PORT=26661
MISS_THRESHOLD=10
MISS_CONSECUTIVE=2
# or LOG_OUTPUT=file
LOG_OUTPUT=console
# internal is in seconds
POLL_INTERVAL=5