CHAIN=
OPERATOR_ADDR=
REST_ADDR=http://localhost:1317
LISTENING_PORT=26661
MISS_THRESHOLD=10 # if not sure, leave it as is
MISS_CONSECUTIVE=2 # if not sure, leave it as is
LOG_OUTPUT=console # or file
POLL_INTERVAL=5 # in seconds