CHAIN=
OPERATOR_ADDR=
REST_ADDR=http://localhost:1317
RPC_ADDR=http://localhost:1317
# Gravity Bridge 
UMEE_ORCH_ADDR=umee1uyjwndy7kcrcs84n9l9pvheqwl8e3e526afq5y
ETH_ORCH_ADDR=0x182Ab18c41Bcf7f3dB018159A62900906f719649
LISTENING_PORT=26661
MISS_THRESHOLD=10
MISS_CONSECUTIVE=2
# or LOG_OUTPUT=file
LOG_OUTPUT=console
# internal is in seconds
POLL_INTERVAL_CHAIN=5
POLL_INTERVAL_ASYNC=10
POLL_INTERVAL_BACKFILL=10
# debug, info, warn, error, dpanic, panic, fatal
LOG_LEVEL=info
# dashboard
DASHBOARD_ENABLED=true
DASHBOARD_PORT=8080